<footer class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">GuitarThinker</h5>
                <p class="grey-text text-lighten-4">Have fun. Get smart.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">
                    <i class="material-icons" style="position: relative; top: 5px;">message</i>
                    Connect
                </h5>
                <a href=""></a>
                <ul>
                    <li class="white-text">Twitter: <a class="orange-text text-lighten-3" href="http://twitter.com/GuitarThinker">@GuitarThinker</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://www.linkedin.com/in/nate-dean-4538b119">Nate Dean</a>
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.min.js"></script>

<script>
    // init materialize-menu components?
    $(".button-collapse").sideNav();
</script>
</body>
</html>
