<header class="header">
        <a href="/" class="header__logo">
            <img src="/images/gtLogo.jpg" class="header__logoImage" alt="GuitarThinker Logo">
            <span class="header__logoLabel">GuitarThinker</span>
        </a>
        <div class="header__linkContainer">
            <a href="/games" class="header__link">Games</a>
            <a href="/nns" class="header__link">NNS</a>
            <a href="/blog" class="header__link">Blog</a>
        </div>
</header>