<header class="header">
        <div class="header__logo">
            <img src="images/gtLogo.jpg" class="header__logoImage" alt="GuitarThinker Logo">
            <span class="header__logoLabel">GuitarThinker</span>
        </div>
        <div class="header__linkContainer">
            <div class="header__link">Games</div>
            <div class="header__link">NNS</div>
            <div class="header__link">Blog</div>
        </div>
</header>