<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<div class="main-container">
  <div class="container" style="">
    This is a blog... of some sort... probably posts... and stuff?
  </div>
</div><!-- // .main-container -->

<%include ./partials/footer.ejs%>


