<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.js"></script>
<script>
  const startGame = (data) => {
    console.info('GAME STARTED', data);
  }

  var socket = io.connect('localhost:3001');

  socket.on('joined', x => console.log(x));

  socket.on('startGame', function (data) {
    startGame(data);
  });

  socket.on('answerEvent', (room) => {
    console.log('answer event!', room);
  });

  const clickHandler = (e) => {
    socket.emit('answerEvent', { isCorrect: true });
  }

  document.addEventListener('click', clickHandler);


</script>

<div class="main-container">
  <div class="container" style="">
    This is a blog... of some sort... probably posts... and stuff?
  </div>
</div><!-- // .main-container -->

<%include ./partials/footer.ejs%>


