<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%include ./partials/critical-css.ejs%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include ./partials/header.ejs%>

    <!--Temp "under construction" styles-->
    <style>
      .underConstruction__container {
	      margin: 5em;
        text-align: center;
      }
    </style>

    <div class="underConstruction__container">
      <h1>Blog.</h1>
      <p>This is a blog.  Most or all of the subject matter could be related to web development.</p>   
    </div>
  
  </body>
</html>
