<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%include ./partials/critical-css.ejs%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include ./partials/header.ejs%>

    <!--Temp "under construction" styles-->
    <style>
      .underConstruction__container {
	      margin: 5em;
        text-align: center;
      }
    </style>

    <div class="underConstruction__container">
      <h1>Games Page!!!</h1>
      <p>There are lots of games! Actually, right now there is just one.</p>
      <h1><a href="/games/music-theory">Music Theory Game</a></h1>
    </div>
  
  </body>
</html>
