<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%include ./partials/critical-css.ejs%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include ./partials/header.ejs%>

    <!--Temp "under construction" styles-->
    <style>
      .underConstruction__container {
        text-align: center;
      }
    </style>

    <div class="underConstruction__container">
      <h1>Games Page!!!</h1>
      <p>Games are currently being re-created!  Hang tight.</p>   
    </div>
  
  </body>
</html>
