<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<div style="display: flex; flex: 1; flex-direction: column; margin-top: 2vw">
    <div id="root"></div>
</div>

<%include ./partials/scripts/game.ejs%>

<%include ./partials/footer.ejs%>