<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%include ./partials/critical-css.ejs%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include ./partials/header.ejs%>

    <!--Temp "under construction" styles-->
    <style>
      .underConstruction__container {
	margin: 5em;
        text-align: center;
      }
    </style>

    <div class="underConstruction__container">
      <h1>GuitarThinker is currently under construction!</h1>
      <p>That's cool, because there is new stuff coming.  New games.  More coolness.</p>
    </div>
  
  </body>
</html>
