<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<div class="main-container">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container hide-on-small-and-down">
      <h1 class="header center blue-grey-text text-darken-2">Guitar Thinker</h1>
      <div class="row center" style="margin-top: -15px">
        <h5 class="header col s12 light orange-text text-lighten-3">Guitar and Music Theory Games</h5>
      </div>
    </div>
  </div>

  <!--<div class="container" style="margin-top: 30px;">-->
    <!--<div class="section">-->
      <!--&lt;!&ndash;   Icon Section   &ndash;&gt;-->
      <!--<div class="row">-->
        <!--<div class="col s6 m4">-->
          <!--<div class="icon-block">-->
            <!--<div class="center"><img class="responsive-img" src="/images/gcgIcon.png" style="width: 140px"></div>-->
            <!--<h5 class="center blue-grey-text text-darken-2">Guitar Chords</h5>-->
            <!--<p class="light center">Learn guitar chords by identifying their shapes and sounds.</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col s6 m4">-->
          <!--<div class="icon-block">-->
            <!--<div class="center"><img class="responsive-img" src="/images/MusicTheoryMaster.png" style="width: 140px"></div>-->
            <!--<h5 class="center blue-grey-text text-darken-2">Music Theory</h5>-->
            <!--<p class="light center">Test your skills against all kinds of music theory questions.</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col s6 m4">-->
          <!--<div class="icon-block">-->
            <!--<div class="center"><img class="responsive-img" src="/images/SpellThatChord.png" style="width: 140px"></div>-->
            <!--<h5 class="center blue-grey-text text-darken-2">Spell That Chord</h5>-->
            <!--<p class="light center">Spelling chords is a very important part of music theory. Play this fast pace game to keep your mind sharp.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="center card-panel">
    Under construction!  Working on some very cool new stuff.
    <br>
    Follow on <a href="http://twitter.com/GuitarThinker">Twitter</a> for updates!
  </div>
</div><!-- // .main-container -->

<%include ./partials/footer.ejs%>

