<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<div class="container main-container">
    <div class="formContainer" style="max-width: 300px; margin: 10vh auto 20vh;">
        <h2 class="orange-text text-lighten-3">Login</h2>
        <form class="loginForm">
            <label for="username" class="loginForm__label">Username</label>
            <input type="text" name="username" class="loginForm__input" placeholder="Dude Duderson" required>
            <label for="password" class="loginForm__label">Password</label>
            <input type="password" name="password" class="loginForm__input" placeholder="Dudes!!!!" required>
            <button class="btn waves-effect waves-light loginForm__submitBtn" type="submit" name="action">Login
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

<script>
    var form = document.querySelector('.loginForm');
    var eSubmitBtn = document.querySelector('.loginForm__submitBtn');

    form.querySelector('input').focus();

    form.onsubmit = function(e){

        e.stopPropagation();
        e.preventDefault();

        setSubmittingState(true);
        sendLoginRequest();
    }

    function sendLoginRequest(){
        window.fetch('/api/login', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: form.querySelector('.loginForm__input[name="username"]').value,
                password: form.querySelector('.loginForm__input[name="password"]').value
            })
        }).then(function(response){ return response.json();
        }).then(function(response){
            setSubmittingState(false);

            window.localStorage.token = response.token;
            window.location = '/';
        }).catch(function(err){
            setSubmittingState(false);
            alert('Your username or password is incorrect');
            window.console.log('failure.', err);
        });
    }

    function setSubmittingState(isSubmitting){
        var message = isSubmitting === true ? 'Submitting...' : 'Submit';
        eSubmitBtn.textContent = message;
        eSubmitBtn.disabled = isSubmitting;
    }
</script>

<%include ./partials/footer.ejs%>