<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<div ng-app="myApp" class="gtAppContainer">
    <sidebar></sidebar>
    <game><div class="loadingMessage">loading...</div></game>
</div>

<script src="/js/music-theory/app.min.js"></script>

<%include ./partials/footer.ejs%>
