<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>
<style>
    button[hidden] {
        display: none;
    }
</style>
<div class="main-container container">
    <div id="app">
        <button class="btn" id="increase" value="1">increase</button>
        <button class="btn" id="decrease" value="-1" style="display: none">decrease</button>
        <span class="loadingIndicator"></span>
        <input type="text" id="input">
        <div id="count"></div>
        <div id="hello"></div>
        <div class="personDisplay">
            <div class="personDisplay-id"></div>
            <div class="personDisplay-name"></div>
            <div class="personDisplay-email"></div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.js"></script>
<script src="https://npmcdn.com/@reactivex/rxjs/dist/global/Rx.umd.js"></script>
<script src="js/music-theory/app.js"></script>
<%include ./partials/footer.ejs%>
