<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<div class="main-container">
    <div id="app"></div>
</div>

<script>
    document.getElementById('app').innerHTML =
    '<h3 class="center">This game is... still being worked on.</h3>';
</script>
<%include ./partials/footer.ejs%>
