<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%include ./partials/critical-css.ejs%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%include ./partials/header.ejs%>

<div ng-app="myApp" class="gtAppContainer">
    <sidebar></sidebar>
    <game><div class="loadingMessage">loading...</div></game>
</div>
<script src="/js/music-theory/app.min.js"></script>

</body>
</html>