<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<div class="main-container">
    <div id="app">
        <button class="btn" id="increase">increase</button>
        <button class="btn" id="decrease">increase</button>
        <input type="text" id="input">
        <div id="count"></div>
        <div id="hello"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/immutable/3.8.1/immutable.js"></script>
<script src="https://unpkg.com/@reactivex/rxjs/dist/global/Rx.umd.js"></script>
<script src="js/music-theory/app.js"></script>
<%include ./partials/footer.ejs%>
