<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

    <!--Temp "under construction" styles-->
    <style>
      .underConstruction__container {
	      margin: 5em;
        text-align: center;
      }
    </style>

    <div class="underConstruction__container">
      <h1>Nashville Number System</h1>
      <p>Very soon this page will be done...</p>   
    </div>
  
<%include ./partials/footer.ejs%>
