<%include ./partials/head.ejs%>
<%include ./partials/nav.ejs%>

<div id="root"></div>

<link rel="stylesheet" href="css/user-table/main.9dbd7167.css">
<script async type="text/javascript" src="js/user-table/main.a6993d46.js"></script>

<%include ./partials/footer.ejs%>